  <section class="columns two">

    <div class="column">
      <h3>Markdown</h3>
      <div class="column-markdown">
        {{textarea value=text placeholder="Write markdown here"}}
      </div>
    </div>

    <div class="column column-html">
      <h3>HTML</h3>
      <div class="column-html">
        {{showdown-addon text}}
      </div>
    </div>

  </section>
